<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Programmer Clone</title>
    <link rel='icon' href="./img/logo.png">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body class="bg-light">
    <!-- nav bar start  -->
    
    <nav class="navbar navbar-expand-lg bg-white sticky-top shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
            <img src="./img/logo.png" alt="" class="" style="width: 60px; height: 60px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item ms-2">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item ms-2">
                    <a class="nav-link" href="#">Courses</a>
                    </li>
                    <li class="nav-item ms-2">
                    <a class="nav-link" href="#">Blogs</a>
                    </li>
                    <li class="nav-item ms-2">
                    <a class="nav-link" href="#">Article Series</a>
                    </li>
                </ul>
                <button class="btn btn-outline-primary  me-1 text-uppercase border-0  ms-2">Register</button>
                <button class="btn btn-primary text-uppercase  ms-2">Login</button>
            </div>
        </div>
    </nav>
    
    <!-- nav bar end  -->

    <!-- hero section start  -->
    <section class="hero-section " >
        <div class=" text-center h-100 d-flex justify-content-center align-items-center " style=" margin-bottom: 30px;" >
            <h1 class=" fw-bold text-white ">Welcome From A Programmer
                <img src="./img/logo.png" alt="" class="" style="width: 60px;height: 60px;">
            </h1>
        </div>
    </section>
    <!-- hero section end  -->

    <!-- counting section  -->
    <section class="container mt-5">
        <div class="row">
            <div class="col-lg-3 col-sm-12 col-md-6  ">
                <div class="card pt-5 border-0 shadow-sm">
                    <div class="card-img text-center">
                        <img src="./img/abacus-counting.svg" alt="" class="w-50">
                    </div>
                    <div class="card-body text-center">
                        <div class="count">
                            <h2 class=" text-primary fw-bold">19000</h2>
                        </div>
                        <div class="card-content">
                            <h4 class=" fw-bold fs-6">Followers & counting</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6 ">
                <div class="card pt-5 border-0 shadow-sm">
                    <div class="card-img text-center">
                        <img src="./img/html-coding-blogs.svg" alt="" class="w-50">
                    </div>
                    <div class="card-body text-center">
                        <div class="count">
                            <h2 class=" text-primary fw-bold">110</h2>
                        </div>
                        <div class="card-content">
                            <h4 class=" fw-bold fs-6">Blog posts & counting</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6  ">
                <div class="card pt-5 border-0 shadow-sm">
                    <div class="card-img text-center">
                        <img src="./img/web-news-article.svg" alt="" class="w-50">
                    </div>
                    <div class="card-body text-center">
                        <div class="count">
                            <h2 class=" text-primary fw-bold">4</h2>
                        </div>
                        <div class="card-content">
                            <h4 class=" fw-bold fs-6">Article Series & counting</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6 ">
                <div class="card pt-5 border-0 shadow-sm" >
                    <div class="card-img text-center">
                        <img src="./img/laptop-online-course.svg" alt="" class="w-50">
                    </div>
                    <div class="card-body text-center">
                        <div class="count">
                            <h2 class=" text-primary fw-bold">3</h2>
                        </div>
                        <div class="card-content">
                            <h4 class=" fw-bold fs-6">Online Courses & counting</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end counting section  -->

    <!-- courses section start  -->
    <div class="courses-header my-5  container"> 
        <div class="title pt-3">
            <h2 class="text-center fw-bolder">Popular Online Courses</h2>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
                <div class="card shadow-sm" >
                    <div class="card-img text-center">
                        <img src="./img/fwd.jpg" alt="" class="w-100">
                    </div>
                    <div class="card-body text-start">
                        <p class=" fw-bold">Fundamental Web Development</p>
                        <p class=" text-muted"># Web Development အခြေခံ</p>
                        <hr>
                        <p class=" text-primary">ဤအတန်းမှထောက်ပံ့ပြီးငွေ - 5,310,283 ကျပ်</p>
                    </div>
                    <div class="card-btn bg-light d-flex justify-content-between">
                        <div class=" d-flex align-items-center ">
                            <p class=" ms-3 "> <del>50000ကျပ်</del> </p> 
                            <p class=" ms-3 text-info">Free</p>
                        </div>
                        <button class="btn btn-primary rounded-0">See More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
                <div class="card shadow-sm" >
                    <div class="card-img text-center">
                        <img src="./img/extphp.jpg" alt="" class="w-100">
                    </div>
                    <div class="card-body text-start">
                        <p class=" fw-bold">Extensive PHP Practice</p>
                        <p class=" text-muted"># Intermediate PHP
                        </p>
                        <hr>
                        <p class=" text-primary">ဤအတန်းမှထောက်ပံ့ပြီးငွေ - 748,867 ကျပ်
                        </p>
                    </div>
                    <div class="card-btn bg-light d-flex justify-content-between">
                        <div class=" d-flex align-items-center">
                            <p class=" ms-3 "> <del>50000ကျပ်</del> </p> 
                            <p class=" ms-3 text-info">Free</p>
                        </div>
                        <button class="btn btn-primary rounded-0">See More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
                <div class="card shadow-sm" >
                    <div class="card-img text-center">
                        <img src="./img/laravel.jpg" alt="" class="w-100">
                    </div>
                    <div class="card-body text-start">
                        <p class=" fw-bold">Web Development With Laravel</p>
                        <p class=" text-muted"># Laravel Framework</p>
                        <hr>
                        <p class=" text-primary">ဤအတန်းမှထောက်ပံ့ပြီးငွေ - 1,408,061 ကျပ်</p>
                    </div>
                    <div class="card-btn bg-light d-flex justify-content-between">
                        <div class=" d-flex align-items-center">
                            <p class=" ms-3 "> <del>50000ကျပ်</del> </p> 
                            <p class=" ms-3 text-info">Free</p>
                        </div>
                        <button class="btn btn-primary rounded-0">See More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="see-all-courses mt-5 text-center " >
            <button class="btn btn-primary px-lg-5 py-2">SEE ALL COURSES</button>
        </div>
    </div>
     <!-- end courses section  -->

     <!-- start contributions  -->
    <section class="container my-5">
        <div class="contribution-title">
            <h2 class=" text-center fw-bold">Our Contributions</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 my-5 p-3">
                <div class="img text-center">
                    <img src="./img/share-contri.svg" style="width: 200px;" class="" alt="">
                </div>
                <div class="text-content text-muted my-5">
                    <p class=" fs-6">
                        A Programmer ကနေ အပတ်စဉ် programming နဲ့ပတ်သတ်တဲ့ ဆောင်းပါးတွေကိုတင်ဆက်ပေးလျှက်ရှိပါတယ်။ Blog ထဲမှာပါတဲ့ contents တိုင်းကို Trustful & High Quality Contents တွေဖြစ်အောင်ကြိုးစားပြီးရေးသားနေပါတယ်။
                    </p>
                </div>
                <div class="text-center">
                      <button class="btn btn-primary  py-2" style="width:200px;" >BLOGS</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 my-5 p-3">
                <div class="img text-center">
                    <img src="./img/print-contri.svg" style="width: 200px;" class="" alt="">
                </div>
                <div class="text-content text-muted my-5">
                    <p class=" fs-6">
                        Blog တွေအပြင် အကြောင်းအရာတစ်ခုကို focus ထားပြီး article series များလည်းရေးသားပေးလျက်ရှိပါတယ်။ ပြီးသွားတဲ့ series တွေအတွက် Download ချနိုင်အောင် PDF တွေထုတ်နုတ်ပေးထားပါတယ်။
                    </p>
                </div>
                <div class="text-center">
                      <button class="btn btn-primary  py-2" style="width:200px;" >ARTICLE SERIES</button>
                </div>
            </div>
        </div>
    </section>
     <!-- end contributions  -->

    <!-- arrow  -->
     <div class="arrow my-2 position-fixed " style=" bottom:100px;right:50px">
        <button type="button" id="ToTop" class="btn btn-primary">
            <i class="bi bi-caret-up-fill"></i>
        </button>
     </div>
     <!-- footer  -->
     <footer class="py-2 bg-primary d-flex flex-column text-center">
        <div class="img-logo py-2">
            <img src="./img/logo.png" alt="" style="width: 60px;">
        </div>
        <div class="text text-white">
            <p>Copyright ©2022 All rights reserved  by A Programmer</p>
        </div>
     </footer>

     
     <script src="../js/script.js"></script>
      <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>